@import ./vars.sass

.input__icon
  position: relative
  display: flex
  align-items: center
  position: relative
  padding: 0 15px
  border-right: 1px solid $disabled-bg
  font-size: 20px
  color: $disabled-color
  cursor: pointer

.input__field
  width: 100%
  font-size: 26px
  border: 0
  width: 100%
  line-height: 1.15
  &:focus
    outline: none
